// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

output "Acer Technologies XV271U M3 1322131231233" {
    mode "2560x1440@179.877"
    scale 1
    transform "normal"
    position x=1920 y=0
    focus-at-startup
}

output "Acer Technologies VG271U TG0EE004856E" {
    mode "2560x1440@170.021"
    scale 1
    transform "normal"
    position x=4480 y=0
}

